@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas Neue&display=swap');

h1{
    font-family: 'Bebas Neue', verdana;
    font-size: 50px;
}


body{
    background-color: #adaaaa;
    color: #ffffff;
    font-family: verdana;
}

header{
    border-bottom: 1px solid #f5deb3;
}
header, footer{
    background-color: #ffefef;
    color: #000000;
    text-align: center;
}

#tudo{
    background-color: #ffffff;
    width: 90%;
    color: #000000;
    margin-left: 5%;
}

.img{
    text-align: center;
}

img {
    width: 60%;
}


li{
    text-decoration: none;
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-evenly;
    font-weight: 2000;
}

section{
    padding: 10px;
    text-align: justify;
}

a{
    text-decoration: none;
    color: #ff0e0e;
    font-weight: bold;
}

a:hover{
    background-color: aqua;
}

footer{
    border-top: 1px solid #f5deb3;        
}

.metodos{
    display: flex;
    justify-content: space-evenly;
}

.dialogo{
    display: flex;
    justify-content: space-evenly;
}

.c_dialogo{
    width: 20%;
    box-shadow: #000 2px 3px 2px;
    text-align: center;
    margin-bottom: 3px;
}

.metodo_getElementById{
    width: 20%;
    box-shadow: #000 2px 3px 2px;
    text-align: center;
    margin-bottom: 3px;
}

#demo, #demo_test,#demo_test_2{
    font-weight: bold;
}

button{
    background-color: #0026ff;
    height: 30px;
    color: #ffffff;
    font-weight: 800;
    border: 2px solid #0026ff;
}

button:hover{
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
}

h3{
    text-align: center;
    font-size: 24px;
}

span{
    text-decoration: underline;
    color: #ff0000;
    font-weight: bold;
}